<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>Experience</h1>
        </div>
        <div class="col-sm-12 col-md-12">

            <h3 class="col-sm-12 col-md-12" >Columbus Humanities, Arts & Technology Academy,</h3>
            <h3 class="col-sm-12 col-md-12" >Columbus, OH</h3>
            <h3 style="text-align:right;" class="col-sm-6 col-md-12">September 2016 - Present</h3>
            <div class="col-sm-12 col-md-12">

                <h4> <b>Position:</b> Art Teacher, Grades K-8</h4>
                  <p>• Developed and taught a visual arts curriculum for 9 grades of students, ages 4-16, from the ground up.</p>
                  <p>• Orchestrated an annual Arts Show to welcome the community into our school with over 1000 pieces of student work, musical performances, and food trucks.</p>
                  <p>• Collaborated with staff members of other grades and subjects in order to draw cross-curricular connections in the classroom.</p>
                  <p>• Created a safe space for students through developing positive rapport and setting high but achievable expectations of character.</p>
                  <p>• Founded and Supervised an Art Club after school for students to advance their understanding and application of art.</p>
                  <p>• Designed and painted large wall murals to enhance student learning spaces.</p>
                  </div>
        </div>
    </div>
</section>
