<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h2><b>Experience</b></h2>
        </div>
        <div class="col-md-12">

            <h3 class="col-sm-12 col-md-12" >Columbus Humanities, Arts & Technology Academy,</h3>
            <h4 class="col-sm-12 col-md-12" >Columbus, OH</h4>
            <h4 class="col-sm-6 col-md-12">September 2016 - Present</h4>
            <div class="col-sm-12 col-md-12">

                <h3> <b>Position:</b> Art Teacher, Grades K-8</h3>
                  <h5>• Developed and taught a visual arts curriculum for 9 grades of students, ages 4-16, from the ground up.</h5>
                  <h5>• Orchestrated an annual Arts Show to welcome the community into our school with over 1000 pieces of student work, musical performances, and food trucks.</h5>
                  <h5>• Collaborated with staff members of other grades and subjects in order to draw cross-curricular connections in the classroom.</h5>
                  <h5>• Created a safe space for students through developing positive rapport and setting high but achievable expectations of character.</h5>
                  <h5>• Founded and Supervised an Art Club after school for students to advance their understanding and application of art.</h5>
                  <h5>• Designed and painted large wall murals to enhance student learning spaces.</h5>
                  </div>
        </div>
    </div>
</section>
