<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>Skills</h1>
        </div>
        <div class="col-sm-12 col-md-6">
          <h2>Experience</h2>
            <p>
              Drawing, Painting, Photography, Printmaking
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
          <h2>Three Dimensional Media</h2>
            <p>
              Ceramics, Sculpture, Weaving, Sewing
            </p>
        </div>
    </div>
</section>
